.alamat{
    /* margin-top: 100px; */
    /* color: #555555; */
    text-align: center;
    padding: 96px;
    background-color: #f3f3f3;
}

.container-alamat{
    /* background-color: gray; */
    display: flex;
    justify-content: center;
}

.img-alamat{
    width: 300px;
    height: 500px;
    /* background-color: aqua; */
    background-image: url('../img/4.jpg');
    background-size: cover;
    background-position: center;
}

.img-deskripsi{
    width: 700px;
    /* background-color: blue; */
    text-align: left;
    padding: 10px 40px 10px 40px;
    font-family: Montserrat, sans-serif;
    color: black;
}

.img-deskripsi > p{
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}

.img-deskripsi > h1{
    margin-bottom: 20px;
}

.alm-kantor > .nama-kantor{
    font-weight: bold;
    margin-top: 40px;
}