.footer{
    /* margin-top: 100px; */
    /* color: #555555; */
    text-align: left;
    padding: 96px 250px 50px 250px;
    background-image: linear-gradient(#494949, #202020);
}

.container-footer{
    display: flex;
    justify-content: space-between;
    color: #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

.container-footer > div:first-of-type + div{
    /* background-color: aqua; */
    /* text-align: center; */
    width: 200px;
}

.container-footer > div:last-of-type{
    width: auto;
    /* text-align: right; */
}

.container-footer > div{
    width: 385px;
    /* height: 500px; */
    /* background-color: aqua; */
    /* border-bottom: 1px solid #f3f3f3; */
}

.about-footer{
    padding-right: 30px;
}

.about-footer > *{
    margin-bottom: 20px;
}

.icon-footer{
    height: 70px;
    width: 100%;
    /* background-color: blue; */
    background-image: url('../img/icon.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.medsos-footer{
    display: flex;

}

.medsos-footer > .circle{
    background-color: #555555;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: grid;
    place-items: center;
    margin-left: 5px;
    margin-right: 5px;
    color: #f3f3f3;
    cursor: pointer;
    font-size: 24px;
}

.medsos-footer > .circle:hover{
    background-color: #302828;
}

.layanan-footer > *{
    display: block;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f3f3f3;
}

.layanan-footer > h3, .menu-footer > h3 {
    margin-top: 90px;
}

.menu-footer > *{
    display: block;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f3f3f3;
    
}

.menu-footer > span > a{
    color: #f3f3f3;
}

.copyright{
    color: #f3f3f3;
}