@media (max-width: 1024px){
    .navbar .navbar-nav{
      margin-left: 0px;
    }
  }
  
  @media (max-width: 768px){ 

    .navbar{
        width: 100%;
    }
    
    .navbar .navbar-nav{
      position: absolute;
      /* position: fixed; */
      z-index: -4 !important ;
      left: 0;
      right: 0;
      top: 7vh;  
      /* top: 30px;   */
      height: 37.5vh;
      background-color: aqua;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      text-align: center;
      transform: translateY(-30vh) scaleY(0);
      transition: 0.3s linear;
    }
    
    .navbar-nav-active{
      transform: translateY(0px) scaleY(1) !important;
    }
    
    .navbar-nav > a:first-of-type{
      margin-top: 30px;
    }

    .navbar-nav > a:last-of-type{
        font-size: 18px;
        margin: 0 1vh !important;
        padding: 0px !important;
        border-radius: 30px;
        /* color: blue; */
        margin-bottom: 30px!important;
    }

    #hamburger-menu{
      display: block;
    }
  }