/* @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); */
:root {
    --Primary: #b6895b;
    /* --bg: #010101; */
    --bg: #C4161C;
  }
  
  html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
  }
  
  html{
    margin: 0px !important;
    padding: 0px !important;
  }

  body {
    font-family: "Noto sans", sans-serif;
  }
  
  /* navbar */
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 0.5rem 2%; */
    background-color: rgba(1, 1, 1, 0.8);
    border-bottom: 1px solid #5c452e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  .navbar-logo img{
    width: 10vh;
  }
  
  .navbar .navbar-nav {
    margin-left: 45vh;
  }

  /* a active */
  /* .navbar .navbar-nav a:first-of-type{
    color: var(--Primary);
  } */

  .navbar .navbar-nav a{
    color: #fff;
    display: inline-block;
    font-size: 3vh;
    margin: 0 2vh;
  }

  .navbar .navbar-nav a:hover {
    color: var(--Primary);
  }
  
  .navbar .navbar-nav a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--Primary);
    transform: scaleX(0);
    transition: 0.2s linear;
  }

  .navbar .navbar-nav a:last-of-type::after {
    content: none;
  }
  /* underline active */
  /* .navbar .navbar-nav a:first-of-type:after {
    transform: scaleX(0.5);
  } */
  
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
  }


  .nav-contact{
    border: 2px solid salmon;
    background: salmon;
    padding: 10px 20px;
    color: var(--bg);
    border-radius: 12px;
    font-size: 3vh;
  }

  .nav-contact:hover{
    background: rgba(1, 1, 1, 0.8);
    color: #fff;
  }
  
  .navbar .navbar-extra a {
    color: #fff;
  }
  
  .navbar .navbar-extra a:hover {
    color: var(--Primary);
  }
  
  #hamburger-menu {
    display: none;
  }