.proyek{
    padding: 96px 96px 0px 96px;
    /* background-color: #a8a8a8; */
    text-align: center;
    align-items: center;
}

.containerGalery{
    width: 100%;
    display: flex;
    justify-content: center;
}
.proyek > h2,h1{
    line-height: 60px;
    font-family: Montserrat, sans-serif;
}

.p{
    margin: auto;
    width: 544px;
    line-height: 25px;
    font-family: 'Noto Sans', sans-serif;
}

p[id="paragraf"]{
    color: #555555;
}

.galery{
    width: 1140px;
    /* background-color: purple; */
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.flipbox{
    width: 346px;
    height: 350px;
    /* background-color: blue; */
    background-size: cover;
    background-position: center;
    margin: 10px;
    border-radius: 10px;
    display: flex;
}

.overlay{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.35s ease-in-out;
    opacity: 0;
    background-color: rgb(54, 54, 54);
}

.flipbox:hover .overlay{
    font-size: +19px;
    opacity: 0.8;
}

.overlay > p{
    color: #f3f3f3;
    text-shadow: 0px 0px 5px #2b2b2b;
}

.overlay > h2{
    color: #f3f3f3;
    text-shadow: 0px 0px 5px #2b2b2b;
}

.flipbox:first-of-type{
background-image: url('../img/1.png')
}

.flipbox:first-of-type + .flipbox{
    background-image: url('../img/2.png');
    width: 712px;
}

.flipbox:first-of-type + .flipbox + .flipbox{
    background-image: url('../img/3.png');
    
}

.flipbox:first-of-type + .flipbox + .flipbox + .flipbox{
    background-image: url('../img/1.png');
    
}

.flipbox:last-of-type{
    background-image: url('../img/2.png');
}